/**
 * Variables
 */
:root {
	/*font-family*/
	--font-basic: "Roboto", sans-serif;
	/*font-weights*/
	--weight-bold: 700;
	--weight-normal: 400;
	/*font-sizes*/
	--font-smallest: 0.87rem;
	--font-smaller: 1rem;
	--font-small: 1.12rem;
	--font-icon: 20px;
	--font-medium: 1.56rem;
	--font-over-medium: 1.88rem;
	--font-big: 2.5rem;
	--font-bigger: 3.12rem;
	--font-biggest: 3.75rem;
	/*font-colors*/
	--font-darkblue: #172755;
	--font-white: #FFFFFF;
	--font-gray: #8794BA;
	/*background-colors*/
	--bg-blue: #172755;
	--bg-darkblue: #0F1F4B;
	--bg-purple: #EF2A82;
	--bg-white: #FFFFFF;
	--bg-gray: #E5E5E5;
	/*line-heights*/
	--height-smallest: 1.17; /*16-18.75; 30-35.16; 25-29.3; 40-46.88; 60-70.31*/
	--height-small: 1.2; /*31-37.2; 50-60*/
	--height-medium: 1.4; /*14-19.6; 13-18.2; 16-22.4*/
	--height-big: 1.5; /*18-27*/
	/*border-radiuses*/ /*Вероятно не понадобится, потом убрать*/
	--rad-smallest: 0.78rem;
	--rad-smaller: 1.05rem;
	--rad-small: 1.88rem;
	--rad-big: 4.25rem;
	/*border-shorthands*/
	--border-main: 1px solid #D3D9E9;
	--border-secondary: 1px solid #2A407C;
	/*indents*/
	--indent-sm-first: 0.63rem;
	--indent-sm-second: 0.95rem;
	--indent-sm-third: 1.25rem;
	--indent-sm-third-negative: -1.25rem;
	--indent-sm-fourth: 1.56rem; /*Вероятно не понадобится, потом убрать*/
	--indent-sm-fifth: 1.88rem;
	--indent-sm-sixth: 2.2rem;
	--indent-sm-seventh: 2.5rem;
	--indent-md-first: 2.8rem;
	--indent-md-second: 3.12rem;
	--indent-md-third: 3.75rem;
	--indent-md-fourth: 4.38rem;
	--indent-md-fifth: 5rem;
	--indent-md-sixth: 5.19rem;
	--indent-bg-first: 6.25rem;
	--indent-bg-second: 8.12rem;
	--indent-bg-third: 9.38rem;
	--indent-bg-fourth: 13.13rem;
	/*widths*/
	--page-width: 1180px;
	--logo-width: 8.12rem;
	--hero-button-max-width: 21rem;
	--pricing-button-max-width: 13rem;
	--feature-min-width: 6.25rem;
	--feature-max-width: 23.12rem;
	--social-network-width: 135px;
	/*heights*/
	--logo-height: 1.88rem;
	--mob-button-height: 1.25rem;
}

/**
 * Base styles 
 */
html {
	font-family: var(--font-basic);
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-size: var(--font-smaller);
	line-height: var(--height-smallest);
	color: var(--font-gray);
}

img {
	max-width: 100%;
	height: auto;
}

h2, h3 {
	margin: 0;
}
/*Дополнить*/

p {
	font-size: var(--font-smallest);
	line-height: var(--height-medium);
	font-weight: var(--weight-normal);
	color: var(--font-gray);
	margin: var(--indent-sm-third) 0 0;
}

/*
* Layout
*/

.wrapper {
	padding: 0 var(--indent-sm-third);
	background: var(--bg-blue);
	overflow: hidden;
}

.wrapper-illustrated {
	margin: 0 var(--indent-sm-third-negative);
	background: var(--bg-gray);
	/*padding: 0 var(--indent-sm-third);*/
}

.content-width {
	max-width: var(--page-width);
	margin: 0 auto;
}

.heading-regular {
	font-size: var(--font-over-medium);
	line-height: var(--height-smallest);
	color: var(--font-darkblue);
	font-weight: var(--weight-bold);
}

/*
* Header block
*/
.header {
	display: flex;
	align-items: center;
	padding-top: var(--indent-sm-second);
	padding-bottom: var(--indent-sm-second);

}

.logo {
	max-width: var(--logo-width);
	height: var(--logo-height);
}

.header__log-in {
	margin: 0 var(--indent-sm-second) 0 auto;
}

/*
* Navigation block
*/
.navigation, .navigation_mobile__checkbox {
	display: none;
}

.navigation_mobile__button {
	fill: var(--font-gray);
	/*Без высоты блок выше чем должен быть (сам свг 20рх внутри label, а label 24)
	почему, лучший ли это вариант пофиксить?*/
	max-height: var(--mob-button-height);
}

/*
* Ilustrated block
*/
.illustrated {
	display: flex;
	flex-direction: column;
}

.illustrated__text {
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.illustrated__image {
	margin: var(--indent-sm-fifth) 0 var(--indent-md-third);
}

.illustrated_primary .illustrated__image {
	margin-bottom: var(--indent-sm-fifth);
}

.illustrated_primary::before {
	content: '';
	height: 0.32rem;
	background-image: linear-gradient(#12214D, var(--bg-blue));
	margin: 0 var(--indent-sm-third-negative);
}

.illustrated__image-selected {
	display: none;
}

.illustrated_primary .illustrated__heading {
	font-size: var(--font-over-medium);
	line-height: var(--height-small);
	color: var(--font-white);
	font-weight: var(--weight-bold);
	margin: 0;
}

.illustrated_primary .illustrated__paragraph {
	font-size: var(--font-small);
	line-height: var(--height-big);
}

/*
* Button block
*/
.button {
	display: inline-block;
	padding: var(--indent-sm-first) var(--indent-md-second);
	border: var(--border-secondary);
	border-radius: var(--rad-big);
	white-space: nowrap;
	text-align: center;
	transition: filter 350 ms;
}

.button:hover {
	filter: brightness(1.1);
}


.illustrated__button {
	display: block;
	padding-left: var(--indent-sm-second);
	padding-right: var(--indent-sm-second);
	border: none;
	max-width: var(--hero-button-max-width);
	margin: var(--indent-sm-fourth) 0 1rem; /*Потом задать переменую*/
}

.button_purple {
	color: var(--font-white);
	background: var(--bg-purple);
}

.button_darkblue {
	color: var(--font-white);
	background: var(--bg-darkblue);
}
/*
* Illustrated_promary block angle line
*/
.illustrated_primary {
	padding-bottom: 111px;
	margin-bottom: 5vw;
}

.wrapper-illustrated::before {
	content: '';
	display: block;
	border-top: 17px solid var(--bg-purple);
	background: var(--bg-gray);
	transform: rotate(-6deg);
	/*transform: translateY(calc(-98.83vw * 0.0615)) rotate(-6deg); 
	Не привязывается к углу линия, приглось transfprm origin*/ 
	height: 10.2vw;
	/*height: calc(0.123 * 100.7vw)*/
	width: 100.7vw;
	transform-origin: left top;
	margin-left: -1vw;
	z-index: -1;
	margin-bottom: -15vw;
}

/*
*Features block
*/
.features {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--indent-md-fourth);
	/*check top indent after angle line fix*/;
		padding-top: 67px;
}

.features__group {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.features__header {;
	max-width: var(--feature-max-width);
	margin: 0 auto;
	z-index: 1;
	
}

.feature {
	display: grid;
	grid-template-columns: auto minmax(var(--feature-min-width), var(--feature-max-width));
	grid-gap: var(--indent-sm-first) var(--indent-sm-fifth);
	margin: var(--indent-sm-seventh) auto 0;
}

.feature__image {
	grid-area: 1/1/3/2;
}

.feature__heading {
	color: var(--font-darkblue);
	font-size: var(--font-smaller);
	line-height: var(--height-smallest);
	font-weight: var(--weight-bold);
}

.feature__paragraph {
	margin-top: 0;
}

/*
* Illustrated block
*/
.illustrated__image {
	box-shadow: 0 9px 18px 0px rgba(25, 42, 89, 0.2);
	border-radius: 6.4%;
}
/*подбирал тень на глаз*/

/*.test2 {
	width: 400px;
	height: 200px;
	margin: 50px auto;
	background: linear-gradient( to left bottom, black  17px, green 17px);
	clip-path: polygon(0% 100%, 100% 100%, 0% 0%);*/

/*
*Pricing Plan block
*/
.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin: 0 var(--indent-sm-third-negative);
}

.offer__header {
	margin: var(--indent-sm-fifth) var(--indent-sm-third) var(--indent-md-third);
}

.offer__heading {
	color: var(--font-white);
}	

.offer__pricing {
	display: flex;
	padding-bottom: var(--indent-md-first);
}

.pricing-plan {
	display: flex;
	flex-direction: column;
	background: var(--bg-white);
	padding: var(--indent-sm-sixth) var(--indent-sm-fifth);
	border-radius: var(--rad-small);
	text-align: center;
}

.pricing-plan__level {
	font-size: var(--font-medium);
	line-height: var(--height-smallest);
	font-weight: var(--weight-bold);
	color: var(--font-darkblue);
}

.pricing-plan__limit {
	font-size: var(--font-small);
	line-height: var(--height-big);
	color: var(--font-gray);
	padding: var(--indent-sm-first) 0 var(--indent-sm-sixth);
	border-bottom: var(--border-main);
}

.pricing-plan__cost {
	font-size: var(--font-biggest);
	line-height: var(--height-smallest);
	font-weight: var(--weight-bold);
	color: var(--font-darkblue);
	padding-top: var(--indent-sm-third);
}

.pricing-plan__сurrency {
	font-size: var(--font-over-medium);
}

.pricing-plan__period {
	font-size: var(--font-smallest);
	line-height: var(--height-medium);
	color: var(--font-gray);
}

.pricing-plan__button {
	padding-left: var(--indent-md-sixth);
	padding-right: var(--indent-md-sixth);
	margin: var(--indent-sm-sixth) auto var(--indent-sm-first);
	max-width: var(--pricing-button-max-width);
}

.pricing-plan_optimal {
	margin: 0 var(--indent-sm-third);
}

.pricing-plan_optimal .pricing-plan__button {
	border: none;
}

/*
*Footer block
*/
.footer {
	display: flex;
	justify-content: space-between;
	padding-top: var(--indent-md-first);
	padding-bottom: var(--indent-md-first);
	border-top: var(--border-secondary);
}

.social-network {
	display: flex;
	justify-content: space-between;
	width: var(--social-network-width);
}

.social-network__item {
	font-size: var(--font-icon);
	color: var(--font-gray);
}

