/**
 * Variables
 */
:root {
	/* font-family */
	--font-basic: "Roboto", sans-serif;

	/* font-weights */
	--weight-bold: 700;
	--weight-normal: 400;

	/* font-sizes */
	--font-xxs: 0.87rem;
	--font-xs: 1rem;
	--font-sm: 1.12rem;
	--font-icon: 20px;
	--font-medium: 1.56rem;
	--font-over-medium: 1.88rem;
	--font-l: 2.5rem;
	--font-xl: 3.12rem;
	--font-xxl: 3.75rem;

	/* font-colors */
	--font-darkblue: #172755;
	--font-white: #FFFFFF;
	--font-gray: #8794BA;

	/* background-colors */
	--bg-blue: #172755;
	--bg-darkblue: #0F1F4B;
	--bg-purple: #EF2A82;
	--bg-white: #FFFFFF;
	--bg-gray: #E5E5E5;

	/* line-heights */
	--height-xs: 1.17; /* 16-18.75; 30-35.16; 25-29.3; 40-46.88; 60-70.31 */
	--height-sm: 1.2; /* 31-37.2; 50-60 */
	--height-md: 1.4; /* 14-19.6; 13-18.2; 16-22.4 */
	--height-l: 1.5; /* 18-27 */

	/* border-radiuses */
	--radius-xxs: 0.78rem;
	--radius-xs: 1.05rem;
	--radius-sm: 1.88rem;
	--radius-l: 4.25rem;

	/* border-shorthands */
	--border-main: 1px solid #D3D9E9;
	--border-secondary: 1px solid #2A407C;

	/* indents */
	--indent-sm-first: 0.63rem;
	--indent-sm-second: 0.95rem;
	--indent-sm-third: 1.25rem;
	--indent-sm-third-negative: -1.25rem;
	--indent-sm-fourth: 1.56rem;
	--indent-sm-fifth: 1.88rem;
	--indent-sm-sixth: 2.2rem;
	--indent-sm-seventh: 2.5rem;
	--indent-md-first: 2.8rem;
	--indent-md-second: 3.12rem;
	--indent-md-third: 3.75rem;
	--indent-md-fourth: 4.38rem;
	--indent-md-fifth: 5rem;
	--indent-md-sixth: 5.19rem;
	--indent-bg-first: 6.25rem;
	--indent-bg-second: 7.5rem;
	--indent-bg-third: 8.12rem;
	--indent-bg-fourth: 9.38rem;
	--indent-bg-fifth: 13.13rem;
	--fixed-spacing: 2.38rem;

	/* widths */
	--page-width: 1260px;
	--logo-mob-width: 8.12rem;
	--logo-desct-width: 10.63rem;
	--hero-button-max-width: 21rem;
	--hero-button-width: 15rem;
	--pricing-button-max-width: 13rem; 
	--feature-min-width: 6.25rem;
	--feature-max-width: 23.12rem;
	--social-networks-width: 135px;
	--pricing-plan-max-width: 21.25rem;
	--illustrated-text-max-width: 34.37rem;
	--hero-max-width: 50.3rem;
	--border-width: 1rem;

	/* heights */
	--mob-button-height: 1.25rem;
	--img-max-width: 600px;
	--img-primary-max-width: 800px;

	/* inclines */
	--base-deg: -7deg; 
  --tan-base-deg: 0.1278;
  --fluid-cut-height: calc(100vw * var(--tan-base-deg));
  --container-cut-height: calc(var(--page-width) * var(--tan-base-deg));
  --fluid-difference: calc((var(--fluid-cut-height) - var(--container-cut-height)) / 2);
  --fixed-spacing: 2.38rem;
}

/**
 * Base styles 
 */
html {
	font-family: var(--font-basic);
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--bg-gray);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

@media only screen and (min-width: 500px) {
	html {
		font-size: 20px;
	}
}

@media only screen and (min-width: 800px) {
	html {
		font-size: 16px;
	}
}

/*
*Typoghraphy
*/
a {
	text-decoration: none;
	font-size: var(--font-xs);
	line-height: var(--height-xs);
	color: var(--font-gray);
}

h2, h3 {
	margin: 0;
}

p {
	font-size: var(--font-xxs);
	line-height: var(--height-md);
	font-weight: var(--weight-normal);
	color: var(--font-gray);
	margin: var(--indent-sm-third) 0 0;
}

/*
* Layout
*/
.wrapper {
	max-width: var(--page-width);
	margin: 0 auto;
	padding-left: var(--indent-sm-third);
	padding-right: var(--indent-sm-third);
}

@media only screen and (min-width: 800px) {
	.wrapper {
		padding-left: var(--indent-sm-seventh);
		padding-right: var(--indent-sm-seventh);
	}
}

.heading {
	font-size: var(--font-over-medium);
	line-height: var(--height-xs);
	color: var(--font-darkblue);
	font-weight: var(--weight-bold);
}
	
.button, .link {
	transition: filter 350ms;
}

.button:hover, .link:hover {
	filter: brightness(1.1);
}

.break {
	width: 100%;
	height: 1px;
	background: #2A407C;
	border: none;
	margin: 0;
}

@media only screen and (min-width: 800px) {
	.heading {
		text-align: center;  
		font-size: var(--font-l);
	}
}

/*
* Header block
*/
.header {
	display: flex;
	align-items: center;
	padding-top: var(--indent-sm-third);
	padding-bottom: var(--indent-sm-third);
	position: relative;
	box-shadow: 0px 4px 4px #12214D;
}

.header__navigation, .navigation_mobile {
	display: none;
}

.header__log-in {
	margin: 0 var(--indent-sm-second) 0 auto;
}

.header .header__button {
	display: none;
}

/*
* Logo block
*/

.logo {
	max-width: var(--logo-mob-width);
}

@media only screen and (min-width: 500px) {
	.header__log-in {
		margin-right: var(--indent-sm-sixth);
	}

	.logo {
		max-width: var(--logo-desct-width);
	}
}

@media only screen and (min-width: 1000px) {
	.header {
		padding-top: var(--indent-md-second);
		padding-bottom: var(--indent-md-second);
		box-shadow: none;
	}

	.header .header__button {
		display: flex;
	}

	.header__navigation, .footer .footer__navigation {
		display: flex;
		align-items: center;
	}

	.header__navigation {
		margin-left: var(--indent-bg-first);
	}
}

/*
* Navigation block
*/
.navigation {
	display: grid;
	grid-template-columns: auto;
	text-align: center;
	grid-gap: var(--indent-sm-third) 0;
	margin-bottom: var(--indent-sm-third);
}

.navigation-mobile__checkbox {
	display: none;
}

.navigation-mobile__menu {
	fill: var(--font-gray);
	/* Без высоты блок выше чем должен быть (сам свг 20рх внутри label, а label 24)
	почему, лучший ли это вариант пофиксить? */
	height: var(--mob-button-height);
	cursor: pointer;
}

.navigation-mobile__checkbox:checked + .navigation-mobile {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: var(--indent-sm-third);
	top: 100%;
	border-radius: var(--radius-sm);
	box-shadow: 0 0 0 var(--indent-sm-first) var(--bg-purple) inset;
	padding: var(--indent-sm-third);
	background: var(--bg-blue);
}

@media only screen and (min-width: 1000px) {
	.navigation-mobile__menu {
		display: none;
	}

	.navigation-mobile .navigation-mobile__button {
		display: none;
	}

	.navigation { 
		grid-template-columns: auto auto auto auto auto;
		grid-gap: 0 var(--indent-sm-sixth);
		margin-bottom: 0;
	}
}

/*
* Button block
*/
.button {
	padding: var(--indent-sm-second) var(--indent-md-second);
	border: var(--border-secondary);
	border-radius: var(--radius-l);
	white-space: nowrap;
	text-align: center;
}

.button_purple {
	color: var(--font-white);
	background: var(--bg-purple);
}

.button_darkblue {
	color: var(--font-white);
	background: var(--bg-darkblue);
}

/*
* Hero, ilustrated block
*/
.illustrated, .hero {
	display: flex;
	flex-direction: column;
}

.illustrated__text, .hero__text {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.hero__text {
	max-width: var(--hero-max-width);
}

.hero__heading {
	font-size: var(--font-over-medium);
	line-height: var(--height-sm);
	color: var(--font-white);
	font-weight: var(--weight-bold);
	margin: 0;
}

.hero__paragraph {
	font-size: var(--font-sm);
	line-height: var(--height-l);
}

.hero__button {
	padding-left: var(--indent-sm-second);
	padding-right: var(--indent-sm-second);
	border: none;
	max-width: var(--hero-button-max-width);
	margin: var(--indent-sm-fourth) 0 var(--indent-sm-first);
}

.illustrated__text {
	max-width: var(--img-max-width);
	flex-shrink: 20;
	/*Без этого числа последняя пикча выебывается 
	на 100рх, не совсем понимаю почему*/
}

.illustrated__image {
	margin: var(--indent-sm-fifth) auto var(--indent-md-third);
	box-shadow: 0 9px 18px 0px rgba(25, 42, 89, 0.2);
	border-radius: 6.4%;
	/*подбирал тень на глаз*/
}

/*
* Image-container block
*/
.hero__image {
	margin: var(--indent-sm-fourth) auto;
}

.image-container__item_secondary {
	display: none;
}

@media only screen and (min-width: 500px) {
	.hero__button {
		max-width: var(--hero-button-width);
		padding-left: var(--indent-md-first);
		padding-right: var(--indent-md-first);
	}
}

@media only screen and (min-width: 800px) {
	.hero__heading {
		font-size: var(--font-xl);
	}

	.hero__image {
		margin-top: var(--indent-sm-fifth);
		margin-bottom: var(--indent-md-third);
	}

	.hero__button {
		margin-top: var(--indent-md-second);
		margin-bottom: 0;
	}	

	.illustrated__image {
		margin-top: var(--indent-md-third);
		margin-bottom: var(--indent-md-sixth);
	}
}

@media only screen and (min-width: 1000px) {
	.hero {
		position: relative;
	}

	.hero__text {
		max-width: 50%;
		margin: var(--indent-md-sixth) 0 0;
	}

	.hero__image {
		margin: 0;
		position: absolute;
		top: 0;
		right: -25%;
		max-width: 70%;
	}

	.illustrated {
		flex-direction: row;
		align-items: center;
		margin-bottom: var(--indent-bg-second);
	}

	.illustrated_reverse {
		flex-direction: row-reverse;
	}

	.illustrated__image {
		margin: 0 0 0 var(--indent-md-second);
		max-width: 50%;
	}

	.illustrated_reverse .illustrated__image {
		margin: 0 var(--indent-md-second) 0 0;
	}

	.illustrated__heading {
		text-align: left;
	}

	.illustrated__paragraph {
		font-size: var(--font-sm);
		margin-top: var(--indent-sm-fifth);
	}

	.image-container__item_primary,
	.image-container__item_secondary {
		box-shadow: 0 9px 18px 0px rgba(25, 42, 89, 0.2);
		border-radius: 6.4%;
	} 
}

@media only screen and (min-width: 1260px) {
	.hero__text {
		max-width: var(--illustrated-text-max-width);
	}

	.illustrated__image {
		margin-left: var(--indent-bg-first);
		max-width: 100%;
	}

	.illustrated_reverse .illustrated__image {
		margin-right: var(--indent-bg-first);
	}

	.image-container {
		position: relative;
	}

	.image-container__item_secondary {
		display: block;
		position: absolute;
		left: -9%;
		top: 23%;
	}
}  

/*
* Inclined overlays
*/
.overlay-inclined-top {
	position: relative;
	padding-bottom: calc(var(--fixed-spacing) + var(--border-width) + var(--fluid-cut-height));
	margin-bottom: var(--fixed-spacing);
	overflow: hidden;
}

.overlay-inclined-top::before, 
.overlay-inclined-top::after,
.overlay-inclined-bottom::before,
.overlay-inclined-bottom::after {
	content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-inclined-top::before {
  background-color: var(--bg-blue);
  z-index: -1;
  clip-path: polygon(
    0 0, 
    100% 0, 
    100% calc(100% - var(--fluid-cut-height) - var(--border-width)), 
    0 calc(100% - var(--border-width))
  );
}

.overlay-inclined-top::after {
	z-index: -2;
	background: var(--bg-purple);
	clip-path: polygon(
    0 0, 
    100% 0, 
    100% calc(100% - var(--fluid-cut-height)), 
    0 100%
 	);
}

.overlay-inclined-bottom {
	position: relative;
	padding-top: calc(var(--fixed-spacing) + var(--border-width) + var(--fluid-cut-height));
	margin-top: var(--fixed-spacing);
	overflow: hidden;
}

.overlay-inclined-bottom::before {
  background-color: var(--bg-blue);
  z-index: -1;
  clip-path: polygon(
  	0 calc(var(--fluid-cut-height) + var(--border-width)),
  	100% var(--border-width),
  	100% 100%,
		0 100%
  );
}
  .overlay-inclined-bottom::after {
  	z-index: -2;
  	background: var(--bg-purple);
		clip-path: polygon(
			0 var(--fluid-cut-height),
			100% 0,
			100% 100%,
			0 100%	
 		);
  }

@media only screen and (min-width: 1260px) {
  .overlay-inclined-top {
    padding-bottom: calc(var(--fluid-cut-height) + var(--fixed-spacing) + var(--border-width) - var(--fluid-difference));
    margin-bottom: calc(var(--fixed-spacing) - var(--fluid-difference));
  }

  .overlay-inclined-top::before {
  	background-image: url(../assets/logos/background-logo.svg), url(../assets/logos/background-logo.svg);
  	background-repeat: no-repeat;
  	background-size: 1438px 1438px, 660px 660px;
  	background-position: calc(50% + 500px) -1rem, calc(50% - 570px) -16rem;
  }
  

  .overlay-inclined-bottom {
    padding-top: calc(var(--fixed-spacing) + var(--border-width) + var(--fluid-cut-height) - var(--fluid-difference));
    margin-top: calc(var(--fixed-spacing) - var(--fluid-difference));
  } 

	.overlay-inclined-bottom::before {
		background-image: url(../assets/logos/background-logo.svg);
		background-repeat: no-repeat;
		background-size: 2010px 2010px;
		background-position: calc(50% + 800px) calc(100% + 60rem);
	}
}

/*
* Features block
*/
.features {
	display: flex;
	flex-direction: column;
	margin: var(--indent-sm-first) 0 var(--indent-md-fourth);
}

.features__group {
	display: flex;
	flex-direction: column;
}

/*
* Feature block
*/
.feature {
	display: grid;
	grid-template-columns: auto minmax(var(--feature-min-width), var(--feature-max-width));
	grid-gap: var(--indent-sm-first) var(--indent-sm-fifth);
	margin: var(--indent-sm-seventh) auto 0;
}

.feature__image {
	grid-area: 1/1/3/2;
}

.feature__heading {
	color: var(--font-darkblue);
	font-size: var(--font-xs);
	line-height: var(--height-xs);
	font-weight: var(--weight-bold);
}

.feature__paragraph {
	margin-top: 0;
}

@media only screen and (min-width: 800px) {
	.features {
		margin: 0 auto var(--indent-md-sixth);
	}

	.features__header {
		padding: 0 var(--indent-md-third);
	}

	.features__paragraph {
		margin-top: var(--indent-sm-fifth);
		font-size: var(--font-sm);
		text-align-last: center;
	}

	.features__group {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 0 var(--indent-sm-third);

	}
	.feature {
		grid-template-columns: auto;
		grid-gap: 0;
		align-content: start;
	}

	.feature__image {
		margin: 0 auto;
	}

	.feature__heading {
		text-align: center;
		margin: var(--indent-sm-fourth) 0 var(--indent-sm-second);
	}

	.feature__paragraph {
		text-align: center;
		font-size: var(--font-xs);
	}
}

@media only screen and (min-width: 1260px) {
	.feature {
		margin-top: var(--indent-md-fifth);
	}

	.features {
		margin-bottom: var(--indent-bg-third);
	}
}

/*
* Offer block
*/
.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.offer__header {
	margin: var(--indent-sm-fifth) auto var(--indent-md-third);
}

.offer__heading {
	color: var(--font-white);
}	

.offer__pricing {
	display: flex;
	padding-bottom: var(--indent-md-first);
	margin: 0 var(--indent-sm-third-negative);
}

/*
* Pricing plan block
*/

.pricing-plan {
	display: flex;
	flex-direction: column;
	background: var(--bg-white);
	padding: var(--indent-sm-sixth) var(--indent-sm-fifth);
	border-radius: var(--radius-sm);
	text-align: center;
}

.pricing-plan__level {
	font-size: var(--font-medium);
	line-height: var(--height-xs);
	font-weight: var(--weight-bold);
	color: var(--font-darkblue);
}

.pricing-plan__limit {
	font-size: var(--font-sm);
	line-height: var(--height-l);
	color: var(--font-gray);
	padding: var(--indent-sm-first) 0 var(--indent-sm-sixth);
	border-bottom: var(--border-main);
}

.pricing-plan__cost {
	font-size: var(--font-xxl);
	line-height: var(--height-xs);
	font-weight: var(--weight-bold);
	color: var(--font-darkblue);
	padding-top: var(--indent-sm-third);
}

.pricing-plan__сurrency {
	font-size: var(--font-over-medium);
}

.pricing-plan__period {
	font-size: var(--font-xxs);
	line-height: var(--height-md);
	color: var(--font-gray);
}

.pricing-plan__button {
	padding-left: var(--indent-md-sixth);
	padding-right: var(--indent-md-sixth);
	margin: var(--indent-sm-sixth) 0 var(--indent-sm-first);
}

.pricing-plan_optimal {
	margin: 0 var(--indent-sm-third);
}

.pricing-plan_optimal .pricing-plan__button {
	border: none;
}

@media only screen and (min-width: 800px) {
	.offer {
		align-items: flex-start;
	}

	.offer__header {
		margin-top: 0;
		margin-bottom: var(--indent-md-fifth);
		padding: 0 var(--indent-md-third);
		max-width: 50rem;
	}

	.offer__paragraph {
		font-size: var(--font-sm);
		text-align-last: center;
	}

	.offer__pricing {
		width: 100%;
		justify-content: space-between;
		margin: 0;
	}

	.pricing-plan {
		padding: var(--indent-sm-sixth);
		background: var(--bg-darkblue);
		flex-grow: 1;
		max-width: var(--pricing-plan-max-width);
	}

	.pricing-plan__level, .pricing-plan__cost {
		color: var(--font-white);
	}

	.pricing-plan__limit {
		border-bottom: var(--border-secondary);
	}

	.offer__pricing .pricing-plan_optimal {
		background: var(--bg-white);
	}

	.pricing-plan_optimal .pricing-plan__level,
	.pricing-plan_optimal .pricing-plan__cost {
		color: var(--font-darkblue);
	}

	.pricing-plan_optimal .pricing-plan__limit {
		border-bottom: var(--border-main);
	}

	.pricing-plan__button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

@media only screen and (min-width: 1000px) {
	.pricing-plan {
		padding: var(--indent-md-second) var(--indent-md-third);
	}
}

@media only screen and (min-width: 1260px) {
	.offer__paragraph {
		margin-top: var(--indent-sm-fifth);
	}

	.offer__pricing {
		padding-bottom: var(--indent-bg-first);
	}

	.pricing-plan__level {
		font-size: var(--font-over-medium);
	}

	.pricing-plan__cost {
		padding-top: var(--indent-sm-fifth);
	}

	.pricing-plan__period {
		font-size: var(--font-sm);
	}

	.pricing-plan__button {
		margin: var(--indent-sm-seventh) 0 var(--indent-sm-third);
	}
}

/*
* Footer block
*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--indent-md-first);
	padding-bottom: var(--indent-md-first);
	position: relative;
}

.footer__navigation {
	display: none;
}

@media only screen and (min-width: 1260px) {
	.footer {
		padding-top: var(--indent-md-third);
		padding-bottom: var(--indent-bg-first);
	}
}

/*
* Social networks block
*/
.social-networks {
	display: flex;
	justify-content: space-between;
	width: var(--social-networks-width);
}

.social-networks__item {
	font-size: var(--font-icon);
	color: var(--font-gray);
}

